/*---
permalink: style/index.css
---*/

@import './_theme.scss';

body {
  background-color: $dark-color;
}

main {
  @for $index from 1 through 6 {
    h#{$index}{
      text-align: center;
      margin: 0 1em;
      @if $index <= 2 {
        text-transform: uppercase;
      } @else {
        font-variant: small-caps;
      }
    }
  }

  p {
    font-size: 1.2em;

    width: calc(100% - 80px);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  article > div {
    padding-top: 220px;
    padding-bottom: 40px;
  }

  article section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  article > div, section {
    overflow: hidden;

    &.light-background-section {
      background-color: $light-color;
    }

    &.dark-background-section {
      color: $light-color;

    }

    &.image-background-section, &.video-background-section {
      position: relative;

      &::before {
        content: ' ';
        background-color: $dark-color;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        filter: blur(1px);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -2;
      }
    }

    &.image-background-section::after {
      content: ' ';
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    }

    &.video-background-section video {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      min-width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
