@import './site.css.scss';

body {
  margin: 0;
  background-color: $dark-color;
}

$transition-delay: 0s;
$transition-time: 0.3s;

#header_bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: $dark-color;
  color: $light-color;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);

  a {
    text-decoration: none;
  }

  header {
    padding: 20px;
    transition: padding $transition-time $transition-delay;
  }

  #avatar_title {
    float: left;

    h1 {
      margin: 0 60px 0 0;
      transition: font-size $transition-time $transition-delay;
    }

    img {
      width: 140px;
      height: 140px;
      border-radius: 70px;
      border: 3px solid;
      vertical-align: middle;
      margin-right: 40px;

      transition-property: width, height, margin-right;
      transition-duration: $transition-time;
      transition-delay: $transition-delay;
    }
  }

  header::after {
    content: '';
    clear: both;
    display: block;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  #nav_links {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-bottom: 4px;

    transition: padding-right $transition-time $transition-delay;

    a {
      font-family: $heading-font;
      margin-left: 20px;
      border-bottom: 4px solid transparent;
      padding-bottom: 4px;
      transition: font-size $transition-time $transition-delay;

      i.material-icons {
        margin-right: 4px;
        transition: font-size $transition-time $transition-delay;
      }

      &.current {
        border-bottom-color: $medium-gray;
        cursor: default;
      }

      &:hover {
        border-bottom-color: $light-color;
        transition: border-bottom-color 0.2s;
      }

      * {
        vertical-align: middle;
      }
    }
  }

  #social_links {
    position: absolute;
    top: 20px;
    right: 20px;
    transition-property: top, right;
    transition-duration: $transition-time;
    transition-delay: $transition-delay;

    a {
      text-decoration: none;
      display: inline-block;
      margin-left: 20px;

      transition: margin-left $transition-time $transition-delay;
    }

    svg.logo {
      width: 40px;
      height: 40px;

      transition: color 0.4s, width $transition-time $transition-delay, height $transition-time $transition-delay;

      &:not(:hover) {
        color: $medium-gray !important;
      }
    }
  }

  #show_nav {
    display: none;

    + label {
      position: absolute;
      right: 0;
      padding: 1em;

      i.material-icons {
        font-size: 24pt;
      }
    }
  }
}

@mixin compact-header {
  #header_bar {
    header {
      padding: 10px;
    }

    #avatar_title {
      h1 {
        font-size: 25px;
      }

      img {
        width: 48px;
        height: 48px;
        margin-right: 14px;
      }
    }

    #nav_links {
      padding-right: 10px;
    }

    #social_links {
      top: 10px;
      right: 10px;

      a {
        margin-left: 10px;
        font-size: 10px;

        i.material-icons {
          font-size: 18px;
        }
      }

      svg.logo {
        width: 20px;
        height: 20px;
      }
    }
  }
}

main {
  @for $index from 1 through 6 {
    h#{$index}{
      text-align: center;
      margin: 0 1em;
      @if $index <= 2 {
        text-transform: uppercase;
      } @else {
        font-variant: small-caps;
      }
    }
  }

  p {
    font-size: 1.2em;

    width: calc(100% - 80px);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  article > div {
    padding-top: 220px;
    padding-bottom: 40px;
  }

  article section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  article > div, section {
    overflow: hidden;

    &.light-background-section {
      background-color: $light-color;
    }

    &.dark-background-section {
      color: $light-color;

    }

    &.image-background-section, &.video-background-section {
      position: relative;

      &::before {
        content: ' ';
        background-color: $dark-color;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        filter: blur(1px);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -2;
      }
    }

    &.image-background-section::after {
      content: ' ';
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    }

    &.video-background-section video {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      min-width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media screen and (min-width: 701px) {
  html:not([data-scroll='0']) {
    @include compact-header;
  }
}

@media screen and (max-width: 700px) {
  @include compact-header;

  main p {
    width: 89%;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  #header_bar {
    #nav_links {
      a {
        font-size: 10px;

        i.material-icons {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  #header_bar #snow_nav + label {
    display: none;
  }
}

@media screen and (max-width: 499px) {
  #header_bar {
    #avatar_title h1 { font-size: 18px; }

    nav {
      position: relative;

      #nav_links {
        display: initial;
        position: initial;

        a {
          display: block;
          margin-top: 10px;
          padding-left: 0.5em;
          border-bottom: none;
          border-left: 4px solid transparent;

          &:hover {
            border-left-color: $light-color;
          }

          &.current {
            border-left-color: $medium-gray;
            cursor: default;
          }
        }
      }

      #social_links {
        position: initial;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  #show_nav:not(:checked) {
    + label i.material-icons::after {
      content: 'menu';
    }

    ~ header #social_links {
      display: none;
    }

    ~ nav {
      display: none;
    }
  }

  #show_nav:checked {
    + label i.material-icons::after {
      content: 'close';
    }
  }

  article > div, section {
    &.video-background-section video {
      display: none;
    }
  }
}

#header_bar {
  display: initial !important;
}
