@import 'site.css.scss';

@media screen {
  html {
    min-width: 225px;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
  }

  body {
    margin: 30px 40px;
    background-color: #e8e8e8;
    background-image: url('../images/brushed_steel.png');
  }
}

main {
  max-width: 700px;
}

strong {
  font-weight: normal;
  text-shadow: 0.5px 0.5px 0.3px #777;
}

h1 {
  text-align: center;
}

h2 {
  position: relative;
}

h2::before {
  content: '';
  border-bottom: 1px solid $dark-color;
  position:absolute;
  width: 25%;
  height: 0;
  bottom: 0;
}

h2::after {
  content: '';
  border-bottom: 1px dotted $dark-color;
  position:absolute;
  left: 25%;
  width: 25%;
  height: 0;
  bottom: 0;
}

a.citation i.material-icons {
    font-size: small;
    vertical-align: super;
}

.nowrap {
  white-space: nowrap;
}

input#lod_slider {
    position: fixed;
    top: 14px;
    right: 20px;
    width: 40px;
    transform-origin: right;
    transform: scale(1.5);
    z-index: 1;
    opacity: 0.7;
}

#lod_slider + label {
    font-size: 10pt;
    font-family: $heading-font;
    position: fixed;
    background: white;
    top: 0;
    right: 0;
    width: 140px;
    padding: 16px 4px 4px 4px;
    border-radius: 0 0 0 4px;
    opacity: 0.5;
}

#lod_slider + label::after {
    font-size: 10pt;
    font-family: $heading-font;
    padding: 0 4px;
    position: absolute;
    right: 0;
}

#lod_slider[value="0"] + label::after {
    content: '0';
}

#lod_slider[value="1"] + label::after {
    content: '1';
}

#lod_slider[value="2"] + label::after {
    content: '2';
}

input#lod_slider:hover {
    opacity: 1;
}

#lod_slider:hover + label {
    opacity: 0.7;
}

#lod_slider[value='1'] + label::after {
    content: '1';
}

.title {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

#section_summary {
  p::before {
    margin-left: 2em;
    content: ' ';
  }
}

#section_contact {
  ul {
    // Use left margin instead of padding so we can hide leading list-item separators
    margin-left: 20px;
    padding-left: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

    li {
      list-style-type: none;
      display: flex;
      flex-wrap: nowrap;
      position: relative;

      &:not(:last-child) {
        margin-right: 1.5em;
      }

      &::before {
        content: '|';
        position: absolute;
        left: -0.75em;
      }
    }
  }

  .email img {
    top: 2px;
    position: relative;
  }
}

.education {
  dl.description {
    display: flex;
    flex-wrap: wrap;
    // Compensate for first line margin
    margin-top: -10px;

    div {
      display: flex;
      margin-top: 10px;

      &:not(:first-child) > dt {
        margin-left: 1.5em;
      }

      * {
        vertical-align: top;
        line-height: 12pt;
      }

      dt {
        font-size: 8pt;
        font-style: italic;
      }

      dt::after {
        content: ':';
      }

      dd {
        margin-left: 0.5em;
      }
    }
  }
}

#section_skills {
  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  > ul {
    display: flex;
    flex-wrap: wrap;

    li.area {
      &.languages_skills {
        width: calc(40% - 20px);
      }
      &.general_skills {
        width: calc(60% - 20px);
      }

      text-align: center;
      font-size: 18pt;
      font-weight: bold;
      color: $medium-gray;
      margin-left: 40px;

      &:first-child {
        margin-left: 0;
      }

      ul {
        margin-top: 10px;
        margin-left: -6px;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-evenly;
        padding: 0;
        font-weight: normal;
        color: $dark-color;

        li {
          margin: 0 6px 6px 6px;

          .skill_rank1 {
            font-size: 8pt;
          }

          .skill_rank2 {
            font-size: 10pt;
          }

          .skill_rank3 {
            font-size: 12pt;
          }

          .skill_rank4 {
            font-size: 14pt;
          }

          .skill_rank5 {
            font-size: 16pt;
            font-weight: bold;
          }
        }
      }
    }
  }
}

#section_experience {
  ul {
    padding: 0;
  }

  li.experience {
    list-style-type: none;
    background: snow;
    border: 2px solid #bbbbbb;
    padding: 1em;
    margin: 0 20px 20px 1em;

    li {
      margin-left: 30px;
    }
  }

  .summary {
    h4 {
      margin: 0;
      float: left;
    }

    img {
      float: right;
      margin: 0 0 0.4em 0.4em;

      &.company-image {
        border: 2px solid $medium-gray;
        border-radius: 50%;
      }
    }
  }

  ul.details {
    clear: left;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2em 0 0;

  }

  h5 {
    margin: 1em 0 0.2em;
  }

  .accomplishments ul {
    font-size: 10pt;
  }

  p.expository {
    font-size: 10pt;
  }
}

#section_publications {
  cite {
    font-style: normal;
  }

  span.publication_title {
      font-weight: bold;
  }

  span.publication_source {
      font-style: italic;
  }
}

footer {
  margin-top: 80px;
  border-top: 1px solid $medium-gray;

  .footnotes {
    color: darkgray;
    font-size: small;
    font-style: italic;

    li {
      list-style-type: circle;
    }
  }
}

// Detail visibility

input#lod_slider[value="0"] ~ main .lod1 {
  display: none;
}

input#lod_slider[value="0"] ~ main .lod2 {
  display: none;
}

input#lod_slider[value="1"] ~ main .lod2 {
  display: none;
}

input#lod_slider[value="0"] ~ main .skill_rank1 {
  display: none;
}

// Responsive display

@media (min-width: 500px) {
  section > *:not(:first-child) {
    padding-left: 20px;
  }
}

@media(max-width: 780px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 499px) {
  #lod_slider, #lod_slider + label {
    display: none;
  }
  .lod1, .lod2, .skill_rank1 {
    display: none;
  }

  #section_contact {
    ul {
      margin-left: 0;
    }
  }

  #section_skills {
    > ul li.area {
      margin-left: 0;

      &:not(:first-child) {
        margin-top: 16px;
      }

      &.languages_skills, &.general_skills {
        width: calc(100% - 20px);
      }
    }
  }

  #section_experience {
    img {
      display: none;
    }

    li.experience {
      // expand to the width of the screen
      margin-left: -5vw;
      margin-right: -5vw;
      // Make the text line up with other elements
      padding-left: 5vw;
      padding-right: 5vw;

      border-left: none;
      border-right: none;
    }
  }
}

// print formatting

@media print {
  a {
    text-decoration: none;
  }

  #lod_slider, #lod_slider + label {
    display: none;
  }

  section {
    page-break-inside: avoid;
  }

  li.experience {
    page-break-inside: avoid;
  }

  footer {
    display: none;
  }
}
