/*---
permalink: style/site.css
---*/

@import './_theme.scss';

body {
  font-family: $body-font;
  letter-spacing: 0.02em;
}

main {
  color: $dark-color;
}

@for $index from 1 through 6 {
  h#{$index}{
    font-family: $heading-font;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4, h5, h6 {
  font-family: $body-font;
}

a {
  color: inherit;
}

abbr[title] {
  text-decoration: initial;
}

.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}
